<body>
<div class="topnav">
  <img class="logo" src="../../../assets/riceicon.png" alt="riceicon" align="left">
  <img  src="../../../assets/ricemandi_logo_280x.png" class="name" alt ="Ricemandi" >
  <a href="#register">REGISTER</a>
  <a href="#login">LOGIN</a>
    <button routerLink='' class="b6">FAQ</button>
    <button routerLink="blogs" class="b5">BLOGS</button>  
    <button routerLink="testimonials" class="b4">TESTIMONIALS</button>
    <button routerLink="contact" class="b3">CONTACT US</button>
    <button routerLink="about" class="b2">ABOUT US</button>
    <button routerLink="home" class="b1">HOME</button>

</div>

</body>

  