h2{
    padding-top: 30px;
    text-align: center;
}
p{
    font-size: 20px;
    font-weight:10;
    margin-right: 20px;
    margin-left :30px;
}
.aboutdiv{
    background-color: #c2c2a3;
    margin:-8px;
    margin-top: -20px;

}