<div class="aboutdiv">
<h2>ABOUT US</h2>
<hr>
<p>Our Forte</p>
<p>Ricemandi.com is a Chennai-based online store that caters to our most basic requirement for life – food. We are specialists in India’s staple food, in most parts - rice & varieties of rice. Our uniqueness and forte is in our ability to provide to you the best quality rice, from our very own mills. This means that there’s absolutely no compromise in standards, cleanliness, price, and most of all good taste.

    Being pioneers in this business, our online shopping portal offers you rice varieties and other items. Become our member and avail a whole lot of benefits.</p>
<br><br>
<p>Our Story</p>
<p>Everything home-grown is special and has a special flavour to it. This is why our rice is special. And the story of how our business unfolded is as special.

    Years back, as all dreamers who want to make it big, my father quit school and travelled to Madras with a dream. It was almost the hands of destiny that landed him at a retail rice mandi after he took on several odd jobs. He started with errands at the store and stayed on for more than half a decade.
    
    As they say, experience is the best teacher. Experience taught my father that ‘rice’ was where his heart was. He realized that he had good business acumen and had a flair for anything to do with ‘rice’.
    
    With the knowledge and contacts he had gained over the years, my father opened a small retail shop in Teynampet. The business did grow leaps and bounds with his hard work and exceptional service. So, it was not a surprise when he forayed into the wholesale market, which too was successful. He became renowned for his business and was even called "Mambalam Vijayan" for his exceptional business acumen and work ethics.
    
    In his pursuit to further growth is when he decided to harvest rice and have his own rice mill. Thus the first rice mill was opened in 1992 in Red Hills, which is now grown to two!</p>
<br><br>
</div>