.contact{
    background-color: white;
    width: 966px;
    height:860px;
    margin-top: -100px;
    margin-right:12px;
    margin-left: 12px;
}

.form1{
    margin-top: 50px;
    float:right;
    padding: 20px;

}

label{
    padding: 20px;
    
    margin-right:300px;
    float : right;
    
}
button{
    margin-left:270px;
    margin-top: 40px;
    width:339.59px;
    height:43.13px;
    background-color:#c1c1c1;
    color: whitesmoke;
}
button:enabled{
    background-color: chocolate;
    color:white;

}

.cl1{
    margin-right: 280px;
}

.name{
    margin-left:10px;
    float: left;
    font-style:oblique;
    font-size: 30px;
    font-weight: bolder;
    padding:40px;
    
}

.conname{
    margin-right:10px;
    width: 100%;
    padding: 12px 15px;
    padding: 0.75rem 0.9375rem;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    font-size: inherit;
}

.conmail{
    margin-right:10px;
    width: 100%;
    padding: 12px 15px;
    padding: 0.75rem 0.9375rem;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    font-size: inherit;
}

.conmess{
    
    width: 100%;
    
    float:right;
    padding-right: 38px;
    padding-bottom:150px;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    font-size: inherit;
    
}

.l1{
    font-size: 20px;
    font-style:normal;
    text-decoration: #c1c1c1;
    font-weight: bolder;
    padding-bottom:20px;
}



