  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#d1">Arborio rice</a></li>
            <li><a href="#d1">Basmati rice</a></li>
            <li><a href="#d1">Black rice</a></li>
            <li><a href="#d1">Jasmine rice</a></li>
            <li><a href="#d1">Brown rice</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="contact">Contact Us</a></li>
            <li><a routerLink="blogs">Blogs</a></li>
            <li><a routerLink="testimonials">Testimonials</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">J-Tech</a>.
          </p>
        </div>
      </div>
    </div>
</footer>